.cm-webring-box {
    display: grid;
    height: 175px;
    width: 250px;
    color: #fff;
    background-image: url('https://harakiri.moe/img/classicalring.png');
    background-size: cover;
    border: 2px solid #fff;
    border-radius: 5px;
    font-family: 'Courier', monospace;
    font-size: 14px;
}

.cm-webring-links {
    display: inline-block;
    align-self: end;
    justify-self: center;
    text-align: center;
    line-height: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
}

.cm-webring-links a {
    color: #fff;
    text-decoration: none;
}
.cm-webring-links a:hover {
    color: #ddd;
}