---
layout: base.njk
title: about
description: about me!
og_description: about me!
---

{% block content %}
<div class="main">
    
    <div class="pure-g hero">
        <div style="text-align: center;" class="pure-u-1 hero-text">
            <h2> 
                heya, i'm juniper and this is my site!
            </h2>
            <ul style="font-size: 0.9rem;"><em>
                <li>- should look good on any browser and viewport but if it doesn't, please leave me a comment on my guestbook -</li>
                <li>- tested on a 2560x1440 display @ 100% scaling w/ firefox & a google pixel 8 w/ firefox -</li>
                <li><b>- made on a 1920x1200 display @ 100% scaling w/ a qtwebengine browser -</b></li>
            </ul></em>
            <a href="https://shironeko.atabook.org"><h4><em>guestbook -></em></h3></a>
        </div>
        
        
        
        <div class="tabs">
            <input type="radio" name="tab" id="tab1" checked>
            <label for="tab1">who am i</label>

            <input type="radio" name="tab" id="tab2">
            <label for="tab2">yeas/nays</label>

            <input type="radio" name="tab" id="tab3">
            <label for="tab3">fav media</label>

            <input type="radio" name="tab" id="tab4">
            <label for="tab4">software</label>

            <input type="radio" name="tab" id="tab5">
            <label for="tab5">hardware</label>

            <input type="radio" name="tab" id="tab6">
            <label for="tab6">stationery</label>

            <div class="tab-content" id="content1">
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-3-4 hero-text">
                        <p>
                            i'm a hs student interested in drones, *nix systems, choral performance and composition, fountain pens, history, and philosophy. 
                            currently on the college admissions grind + working towards a part 107 license and some research projects
                        </p>
                        <h3>facx</h3>
                        <ul style="font-size: 0.9em;">
                            <li><b>age:</b> 16</li>
                            <li><b>bday:</b> march 03</li>
                            <li><b>location:</b> <s>ur mom's bedroom</s> TEXASSSS</li>
                            <li><b>mbti:</b> infp-t</li>
                            <li><b>fav color:</b> purple/red</li>
                            <li><b>fav song:</b> jupiter from <em>the planets</em> by holst</li>
                            <li><b>languages: </b>english + mandarin (native) + esperanto (c1) + dutch (b2)</li>
                        </ul>
                    </div>
                    
                    <div class="pure-u-1 pure-u-md-1-4 hero-img">
                        <div class="hero-img-inner">
                            <img class="pure-img" src="/img/yo.webp" alt="juniper's profile picture">
                            <p>art by <a href="https://xcancel.com/r12_34_">r12_34_</a> on x</p>
                        </div>
                    </div>
                    <div class="pure-u-1 badges">
                        
                    </div>
                </div>
            </div>
            <div class="tab-content" id="content2">
                <div class="pure-g">
                    <div class="pure-u-md-1-2">
                        <h3>yeaaaahhhh!!!!</h3>
                        <ul>
                            <li>authentic ppl</li>
                            <li>ppl who hand write things</li>
                            <li>modesty</li>
                            <li>going outside and being active</li>
                            <li>WHATABURGERRRRR</li>
                            <li>DR PEPPERRRRRRRRRR</li>
                            <li>texas bbq</li>
                            <li>ppl who drive stick</li>
                            <li>dangerous weather</li>
                        </ul>
                    </div>
                    <div class="pure-u-md-1-2">
                        <h3>ew</h3>
                        <ul>
                            <li>basic dni stuff</li>
                            <li>spams shortform content</li>
                            <li>ppl who have emotional relationships with llms</li>
                            <li>attention seekers</li>
                            <li>whiny ppl</li>
                            <li>ppl who make other ppl do things they themselves should've done</li>
                            <li>ppl who are mean to service workers</li>
                            <li>ppl on diets (ie. vegan) and are obnoxious about it</li>
                            <li>ppl who drive massive trucks/suvs as family vehicles</li>
                            <li>austin ai/nft/crypto techbros</li>
                        </ul>
                    </div>
                </div>
                    
            </div>
            <div class="tab-content" id="content3">
                <div class="pure-g">
                    <ul>
                        <li><b>music artists:</b> ado, atarashii gakko, cynthoni, death, gy!be, acid bath, mcr, zutomayo, kairikibear, purity filter, vertigoaway</li>
                        <li><b>books:</b> anna karenina, notes from underground, no longer human, the woman in black</li>
                        <li><b>manga/anime series:</b> the melancholy of haruhi suzumiya, girls' last tour, azumanga daioh, ouran high school host club, evangelion</li>
                        <li><b>games:</b> hearts of iron iv, europa universalis iv, beamng.drive, neon white, geometry dash, honkai star rail</li>
                    </ul> 
                </div>
                    
            </div>
            <div class="tab-content" id="content4">
                <div class="pure-g">
                    <p>
                        now i shall plug all my fav stuff that i use if u wanna be like me:
                    </p>
                    <p>
                        i use <a href="https://archlinux.org/">arch</a> for my desktop + <a href="https://cachyos.org/">cachyos</a> (same thing anyways bweh) for my laptop. my phone runs <a href="https://grapheneos.org/">grapheneos</a> & u should use it too!
                        desktopwise i use <a href="https://hypr.land">hyprland</a> with <a href="https://waybar.org/">waybar</a> on both my laptop and desktop.
                        for my most oft used software, i use <a href="https://qutebrowser.org/">qutebrowser</a>, <a href="https://www.claws-mail.org/">claws mail</a>, 
                        <a href="https://heroicgameslauncher.com/">heroic games launcher</a>, and <a href="https://www.qownnotes.org/">qownnotes</a> (what i use to write blog posts).
                        i use <a href="https://sw.kovidgoyal.net/kitty/">kitty</a> with <a href="https://fishshell.com/">fish shell</a>. for programming and making this website i use <a href="https://vscodium.com/">vscodium</a> with vim keybinds; my general text editor is neovim.
                    </p>
                    <p>
                        if i have anything to really recommend <em>specifically</em>, it'd have to be these. give them a try, i love them!
                    </p>
                    <ul>
                        <li>- <b><a href="https://qutebrowser.org/">qutebrowser</a></b> which is a minimalist browser that uses vim keybindings + is really fast</li>
                        <li>- <b><a href="https://github.com/jarun/nnn">nnn</a></b> which is a minimalist file manager. i used to use <a href="https://midnight-commander.org/">midnight commander</a> which is also great but nnn is so much quicker to use imo and it has all you need.</li>
                        <li>- <b><a href="https://johnfactotum.github.io/foliate/">foliate</a></b> which is imo the goat of linux e-readers</li>
                    </ul>
                    <p>
                        my config files aren't that great but if you wanna see them they're on github at <a href="https://github.com/alexbraadworst/blood-river">alexbraadworst/blood-river</a>, there's no helper scripts or anything.
                        maybe they'll be good to start with. i usually use a gruvbox dark color palette but i used to use dracula which you can see in my older configs for sway and stuff.
                    </p>

                    
                </div>
            </div>
            <div class="tab-content" id="content5">
                <p>
                    can u tell i waste all my income
                </p>
                <h3>desktop</h3>
                    <p>
                        i built my pc in february 2023 and i've upgraded a few times since then. total was ~US$1100 for the pc if you just include the current parts when i bought them. 
                        obviously for <a href="/blog/posts/2025-11-28 Reflections on the consumer tech market">reasons</a>, that has increased quite a bit....
                    </p>
                    <ul>
                        <li>- <b>cpu:</b> ryzen 7 5700x</li>
                        <li>- <b>cpu cooler:</b> deepcool ak400</li>
                        <li>- <b>motherboard:</b> msi pro b550m-vc</li>
                        <li>- <b>ram</b>: corsair vengeance lpx 3200mhz cl16, 2x16gb (32gb)</li>
                        <li>- <b>gpu:</b> radeon rx 6650xt</li>
                        <li>- <b>storage:</b> 1tb samsung 970 evo plus, 1 tb crucial mx500, 6tb wd black hdd</li>
                    </ul>
                    <p>
                        peripherals:
                    </p>
                    <ul>
                        <li>- samson sr850 headphones</li>
                        <li>- shure sm58 mic</li>
                        <li>- focusrite scarlett solo 3rd gen</li>
                        <li>- some acer nitro 1440p@180hz monitor + a dell 1080p@60 monitor</li>
                        <li>- corsair dark core rgb pro mouse</li>
                        <li>- leobog hi75 with sparkle (hsr) pbt keycaps and kinetic labs hx latte switches</li>
                    </ul>
                <h3>laptop + phone etc</h3>
                    <p>
                        as of writing (2026/06/02) i JUST replaced my old thinkpad t460 with a super nice thinkpad p14s g5 
                        with a core ultra 7 155h, rtx 500 ada graphics, 32gb ram and a 2tb nvme ssd. it's insanely fast...
                    </p>
                    <p>
                        as for my phone it's a pixel 8 running grapheneos. i also use a garmin forerunner 735xt watch and kz edx pro iems whenever i go out.
                        usually my headphones are either my iems or my sennheiser hd450se but when i run i use these shokz bone conduction headphones, 
                        they sound horrendous but it's lwk cool asl and i don't get run over so...
                    </p>
            </div>
            <div class="tab-content" id="content6">
                <p>    
                    i mentioned i like fountain pens, so here's my most favorite& commonly used ones + what they're inked with as of 2026/06/02:
                </p>
                <ul>
                    <li>- pilot vanishing point, matte black, ef (pilot iroshizuku syun-gyo)</li>
                    <li>- wing sung 601, clear, ef (noodler's heart of darkness) (daily driver for school)</li>
                    <li>- kaweco sport, bordeaux, f (diamine writer's blood)</li>
                    <li>- twsbi diamond 580 alr, f (diamine writer's blood)</li>
                    <li>- fpr darjeeling crystal edition, black, ef ultraflex (j. herbin emeraude de chivor)</li>
                </ul>
                <p>
                    paperwise i mostly use these <a href="https://www.jetpens.com/KOKUYO-Campus-Smart-Ring-60-Binder-Notebook-B5-26-Rings-Clear/pd/25851">kokuyo b5 binder notebooks</a> with their <a href="https://www.jetpens.com/KOKUYO-Campus-Loose-Leaf-Paper-Sarasara-B5-6-mm-Rule-26-Holes-100-Sheets/pd/19512">sarasara paper</a>
                    cuz i'm in hs and it's really convenient to reorganize paper and reuse between years, i carry 5 of these for all my subjects + a random 1 inch binder. b5 is my absolute favorite paper size and i wish more people used it!
                    6mm lined rule is my personal favorite but I also use graph for math.
                </p>
                <p>
                    other stationery items: i use gel highlighters (usually sold as bible highlighters) because they don't smudge, i just use whatever brand. 
                    my pencil is a tombow mono graph 0.5mm, i personally find the shaker useless but it feels nice in my hand so i js use it anyways... 
                    my pencil case is a random one i bought in china, it's fine enough ig
                </p>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}