---
layout: base.njk
title: harakiri
description: juniper's website
og_description: i just need a second
---

{% block head %}
    <style>
        a {
            text-decoration: none;
        }
        .main {
            justify-content: center;
        }
    </style>
{% endblock %}

{% block content %}

<div class="main" style="font-family: 'Courier New', Courier, monospace;">
    <div class="container">
        <div class="pure-g hero">
            <div class="pure-u-1" style="text-align: center;">
                <h1 style="margin: 0.5rem; margin-top: 0;"><em>harakiri.moe</em></h1>
                <p style="margin-top: 0; margin-bottom: 0.5rem;">home of a lazy high schooler...</p>
            </div>

            <img style="max-width: 100%; margin-bottom: 1rem;" src="/img/harakiri.webp">
            
            <div class="pure-u-1 pure-u-md-1-2 hero-text">
                <h3 style="width: 100%; margin:0%;">platforms</h3>
                <ul>
                    <li><b>e-mail (<a href="/pgp-jz.txt">pgp</a>):</b> <a href="">jz [at] shironeko [dot] dev</a></li>
                    <li><b>discord:</b> <a href="https://discord.com/users/703262482466078794">@nyaaaanpasu</a></li>
                    <li><b>github:</b> <a href="https://github.com/alexbraadworst">@alexbraadworst</a></li>
                    <li><b>steam:</b> <a href="https://steamcommunity.com/id/exitwoundxx/">@exitwoundxx</a></li>
                    <li><b>telegram:</b> <a href="https://t.me/juniper_shtf">@juniper_shtf</a></li>
                </ul>
            </div>
            <div class="pure-u-1 pure-u-md-1-2 hero-text">
                <h3 style="width: 100%; margin:0%;">stuff</h3>
                <ul>
                    <li><b>go for it, prussia!:</b> <a href="https://ehapgame.exusiai.link/game">ehapgame.exusiai.link</a></li>
                    <li><b>dicereum:</b> <a href="https://dicereum.xyz">dicereum.xyz</a></li>
                    <li><b>guestbook:</b> <a href="https://shironeko.atabook.org/">shironeko.atabook.org</a></li>
                </ul>
            </div>
            
        </div>
    </div>
    <div class="container">
        <div class="pure-g hero">
            <div class="pure-u-1 pure-u-md-1-2 hero-text widget-col" style="text-align: center;">
                <h3 style="margin-top: 0; margin-bottom: 0;">last.fm</h3>
                <div id="lastfm" class="widget"></div>
            </div>
            <div class="pure-u-1 pure-u-md-1-2 hero-text widget-col" style="text-align: center;">
                <h3 style="margin-top: 0; margin-bottom: 0;">site info </h3>
                <div class="widget" style="text-align: left;">
                    <p><b>followers (<a href="https://nekoweb.org/follow/harakiri.moe">follow</a>):</b> <!--# followers --></p>
                    <p><b>views:</b> <!--# views --></p>
                    <p><b>updates:</b> <!--# updates --></p>
                </div>
            </div>
        </div>
            
    </div>
</div>

<script src="/js/lastfm.js" defer></script>
{% endblock %}