---
layout: base.njk
title: harakiri
description: juniper's website
og_description: i just need a second
---

{% block head %}
    <style>
        a {
            text-decoration: none;
        }
        .main {
            justify-content: center;
        }
    </style>
{% endblock %}

{% block content %}

<div class="main" style="font-family: 'Courier New', Courier, monospace;">
    <div class="container">
        <div class="pure-g hero">
            <div class="pure-u-1" style="text-align: center;">
                <h1 style="margin: 0.5rem; margin-top: 0;"><em>harakiri.moe</em></h1>
                <p style="margin-top: 0; margin-bottom: 0.5rem;">home of a lazy high schooler...</p>
            </div>

            <img style="max-width: 100%; margin-bottom: 1rem;" src="/img/harakiri.webp">
            
            <div class="pure-u-1 pure-u-md-1-2 hero-text">
                <h3 style="width: 100%; margin:0%;">platforms</h3>
                <ul>
                    <li><b>e-mail (<a href="/pgp.txt">pgp</a>):</b> <a href="https://www.reddit.com/r/smallbusiness/comments/1ncurwp/do_you_seo_folks_actually_think_by_blasting_my/">zlxkks [at] posteo [dot] com</a></li>
                    <li><b>matrix:</b> <a href="https://matrix.to/#/@harakirist:catgirl.cloud">@harakirist:catgirl.cloud</a></li>
                    <li><b>discord:</b> <a href="https://discord.com/users/703262482466078794">@nyaaaanpasu</a></li>
                    <li><b>github:</b> <a href="https://github.com/alexbraadworst">@alexbraadworst</a></li>
                </ul>
            </div>
            <div class="pure-u-1 pure-u-md-1-2 hero-text">
                <h3 style="width: 100%; margin:0%;">stuff</h3>
                <ul>
                    <li><b>go for it, prussia!:</b> <a href="https://ehapgame.exusiai.link/game">ehapgame.exusiai.link</a></li>
                    <li><b>dicereum:</b> <a href="https://dicereum.xyz">dicereum.xyz</a></li>
                    <li><b><a href="https://guestbook.harakiri.moe/">guestbook -></a></b></li>
                    <li><b><a href="/classicalring">classical music webring -></a></b></li>
                </ul>
            </div>
            
        </div>
    </div>
    <div class="container">
        <div class="pure-g hero">
            <div class="pure-u-1 pure-u-md-1-3 hero-text widget-col" style="text-align: center;">
                <h3 style="margin-top: 0; margin-bottom: 0;">last.fm</h3>
                <div id="lastfm" class="widget"></div>
            </div>
            <div class="pure-u-1 pure-u-md-1-3 hero-text widget-col" style="text-align: center;">
                <h3 style="margin-top: 0; margin-bottom: 0;">site info</h3>
                <div id="siteInfo" class="widget" style="text-align: left;">
                    <div class="widgetText">
                        <p><b>my time (utc-5):</b> <span id="localtime"></span></p>
                        <p><b>followers (<a href="https://nekoweb.org/follow/harakiri.moe">follow</a>):</b> <!--# followers --></p>
                        <p><b>views:</b> <!--# views --></p>
                        <p><b>updates:</b> <!--# updates --></p>
                    </div>
                </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-3 hero-text widget-col" style="text-align: center;">
                <h3 style="margin-top: 0; margin-bottom: 0;">status</h3>
                <div id="status" class="widget" style="text-align: left;">
                    <p id="statusHead"></p>
                    <div class="widgetText">
                        <p id="statusText"></p>
                    </div>
                </div>
            </div>
        </div>
            
    </div>
</div>

<script src="/js/lastfm.js" defer></script>
<script src="/js/time.js" defer></script>
<script src="/js/status.js" defer></script>
{% endblock %}