---
layout: base.njk
title: links
---

{% block content %}
<div class="main pure-g hero">

    <div style="text-align: center;" class="pure-u-1 hero-text container">
        <h1>buttons</h1>
        <p>my buttons are all displayed at the bottom, but those aren't the only sites I find cool (and a lot are just things I like in general, not sites I'm trying to link to), I just don't wanna have my footer be cluttered lmao =3=</p>

        <div id="copy-text">
            <a href="https://harakiri.moe"><img src="https://harakiri.moe/img/button.png" alt="harakiri.moe 88x31 button"></a>
        </div>
        <p>
            first, here's my button. if you wanna link it on your site, just be sure to message on the guestbook and i'll add yours here. hotlinking is preferred! 
        </p>
        <p>
            <button onclick="copyToClipboard('copy-text')">Copy to clipboard</button>
        </p>

        <h3>cool sites</h3>
        <div class="badges">
            <a href="https://zampyre.neocities.org" target="_blank"><img src="https://file.garden/aZsEDEgnnQysAYTC/zampyrebutton.gif"></a>
            <a href="https://phi.rip"><img src="https://phi.rip/88x31.gif" alt="phi.rip 88x31 button"></a>
            <a href="https://ezri.pet"><img src="https://ezri.pet/assets/img/badges/ezri.png" alt="ezri.pet 88x31 button"></a>
            <a href="https://nyscyra.net/" target="_blank"><img src="https://nyscyra.net/img/mayubutton.gif"></a>
            <a href="https://racerduvan.nekoweb.org" target="_blank"><img src="https://images2.imgbox.com/8d/e9/hdRP1Jma_o.png" alt="racerduvan.nekoweb.org" loading="lazy"></a>
            <a href="https://nekonokuni.neocities.org/"><img src='https://nekonokuni.neocities.org/images/my-graphics/button1.gif' alt="neko no kuni 88x31 button"></a>
            <a href="https://ata.moe" target="_blank"><img src="https://ata.moe/88x31.png" alt="ata.moe 88x31 button"></a>
            <a href="https://readingproject.au/"><img src="/img/badges/readingproject.png" alt="readingproject.au 8x31 button"></a>
            <a href="https://menmy.neocities.org/"><img src="/img/badges/ghostgirl.gif" alt="ghostgirl 88x31 button"></a>
            <a href="https://yumejoshi.nekoweb.org/"><img src="https://yumejoshi.nekoweb.org/IMG_6566.jpeg"/></a>
        </div>

        <h3>things i like, causes & others that aren't in the footer</h3>

        <div class="badges">
            <a href="https://www.defectivebydesign.org"><img src="/img/badges/drm.gif" alt="defective by design 88x31 button"></a>
            <a href="https://suckless.org"><img src="/img/badges/suckless.png" alt="suckless 88x31 button"></a>
        </div>
    </div>
    <div style="text-align: center;" class="pure-u-1 hero-text container">
        <h1>webrings</h1>
        <p>most of these are pending lmao i just applied for them all =3=</p>

        <map name="noaiprintwidget-light">
        <area href="https://baccyflap.com/noai" target="_blank" shape="rect" coords="0,0,384,44" alt="the no ai webring" title="the no ai webring">
        <area href="https://baccyflap.com/noai/?prv&s=nug" target="_top" shape="rect" coords="11,45,167,71" alt="previous site" title="previous site">
        <area href="https://baccyflap.com/noai/?rnd" target="_top" shape="circle" coords="193,57,18" alt="random site" title="random site">
        <area href="https://baccyflap.com/noai/?nxt&s=nug" target="_top" shape="rect" coords="217,45,376,71" alt="next site" title="next site">
        </map>
        <img usemap="#noaiprintwidget-light" src="https://baccyflap.com/noai/printwidget.gif" alt="a black-bordered white rectangle with the text NO AI WEBRING in gothic font, with two arrows pointing left and right, reading 'previous site' and 'next site' respectively. there is a toothed gear in the centre with an X through it"> 
        
        <div style="display: flex; justify-content: center; width: 100%;">
            <div style="
            background-image:
            linear-gradient(to top,#000,#00000000),
            url('/img/yuri.png');
            background-size:cover;
            display:grid;
            height:210px;
            width:260px;
            border-width: 1rem;
            border-radius: 5%;
            color:#fff;
            font-family:'Times New Roman';
            font-size:18px">
            <span style="display:inline-block;align-self:end;justify-self:center;text-align:center">
                <a style="text-decoration:none;color:#fff" href="https://www.virtuagirl.net/webring.htm#{IDENTIFIER}0">⇐</a> <!-- REPLACE "{IDENTIFIER}" WITH /YOUR/ ID-->
                <a style="text-decoration:none;color:#fff" href="https://www.virtuagirl.net/yuriwebring">YURI WEBRING</a>
                <a style="text-decoration:none;color:#fff" href="https://www.virtuagirl.net/webring.htm#{IDENTIFIER}1">⇒</a> <!-- REPLACE "{IDENTIFIER}" WITH /YOUR/ ID-->
            </span>
            </div>
        </div>

        <!--resize widget by changing the zoom percentage here-->
        <div id="IDOLRING_WIDGET" style="zoom: 100%">
            <link rel="stylesheet" href="https://idolring.nekoweb.org/idolring.css" />
            <script src="https://idolring.nekoweb.org/scripts/black.js"></script>
            <script>
                document.getElementById("idol_description").innerHTML =
                    "this user stans <b>Ado</b>";
            </script>
            <script>
                document.getElementById("oshi").style.backgroundImage =
                    "url(/img/ado.jpg)";
            </script>
        </div>

        <script src="https://jbc.lol/webrings/ssgring/pmoring.js"></script>

        <script defer src="https://the-disorganized-mind-palace.neocities.org/informantring/ring.js"></script>
        
        <!-- CDRING START -->
        <div id='cdr'>
        <script type="text/javascript" src="https://cdring.neocities.org/cdring/onionring-variables.js"></script>
        <script type="text/javascript" src="https://cdring.neocities.org/cdring/onionring-widget.js"></script>
            </div>
        <!-- CDRING END --> 
        
        <div id='glassbeach'>
        <script type="text/javascript" src="https://jugproductions.neocities.org/onionring-variables.js"></script>
        <script type="text/javascript" src="https://jugproductions.neocities.org/onionring-widget.js"></script>
        </div>

        <script defer src="https://softmachine.dev/webring/linuxring/ring.js" data-icon="arch"></script>

        <div id='focusfirst-webring'>
            <script type="text/javascript" src="https://www.beepbird.net/webring/onionring-variables.js"></script>
            <script type="text/javascript" src="https://www.beepbird.net/webring/onionring-widget.js"></script>
            <noscript><a href='https://www.beepbird.net/index.html'><img src="https://www.beepbird.net/webring/focusfirst.png" alt="Focus First Index"></a></noscript>
        </div>

        <!-- CHRONOS WEBRING START -->
        <div id="chronos">
        <script src="https://hal.nekoweb.org/chronos/onionring-variables.js"></script>
        <script src="https://hal.nekoweb.org/chronos/onionring-widget.js"></script>
        </div>
        <!-- CHRONOS WEBRING END -->

        <div id='OtakuRing'>
            <script type="text/javascript" src="https://bishoujopalace.neocities.org/WebRing/onionring/onionring-variables.js"></script>
            <script type="text/javascript" src="https://bishoujopalace.neocities.org/WebRing/onionring/onionring-widget.js"></script>
            <script>document.getElementById('Icon').src="HERE"</script>
        </div> 


    </div>
        <div style="text-align: center;" class="pure-u-1 hero-text container">
        <h1>fanlistings</h1>
        <p>see above</p>    
        <a href="https://fan.misteryosa.com/k-on/"><img src="https://fan.misteryosa.com/lib/assets/img/btn/k-on-s2-100x50-03.png"></a>
        <a href="https://fan.enamour.nu/history/"><img src="/img/badges/history.png"></a>
        <a href="https://fans.thislove.nu/dignity/"><img src="https://fans.thislove.nu/dignity/codes/100x50_1.gif"></a>
        
    </div>
</div>
{% endblock %}