---
layout: base.njk
title: links
description: outbound links (buttons, webrings, etc)
og_description: outbound links (buttons, webrings, etc)
---

{% block content %}
<div class="main pure-g hero">
    <div class="pure-u-md-1-2">
        <div style="text-align: center; display: block;" class="hero-text container">
            <h2>buttons</h2>
            <p>some buttons are displayed at the bottom, but most are here, I just don't wanna have my footer be cluttered lmao =3=</p>
            <div class="pure-u-1" style="display: flex; justify-content: center;">
                <div style="width: 200px;
                        display: flex;
                        flex-direction: row;
                        gap: 6px;
                        flex-wrap: nowrap;">
                    <a href="https://harakiri.moe"><img src="https://harakiri.moe/img/button.png" alt="harakiri.moe 88x31 button"></a>
                    <textarea id="copy-text" style="display:block;font-size: 12px;
                                                    width: 80px;
                                                    height: 24.7px;
                                                    resize: none;"><a href="https://harakiri.moe"><img src="https://harakiri.moe/img/button.png" alt="harakiri.moe 88x31 button"></a></textarea>
                </div>
            </div>
            
            <p>
                first, here's my button. if you wanna link it on your site, just be sure to message on the guestbook and i'll add yours here. hotlinking is preferred! 
            </p>
            <h3>cool sites :3</h3>
            <div>
                <a href="https://zampyre.neocities.org" target="_blank"><img src="https://file.garden/aZsEDEgnnQysAYTC/zampyrebutton.gif"></a>
                <a href="https://racerduvan.nekoweb.org" target="_blank"><img src="https://images2.imgbox.com/8d/e9/hdRP1Jma_o.png" alt="racerduvan.nekoweb.org" loading="lazy"></a>
                <a href="https://mashumaro.nekoweb.org"><img src="https://mashumaro.nekoweb.org/button.png" width="88" height="31" alt="mashumaro meow"></a>
                <a href="https://yumejoshi.nekoweb.org/"><img src="https://yumejoshi.nekoweb.org/IMG_6566.jpeg"/></a>
                <a title="bulltown.neo" href="https://bulltown.neocities.org/"><img title="bulltown.neo" src="/img/badges/b-n-button.png" alt="bulltown.neo" width="88" height="31"></a>
                <a href="https://nyscyra.net/" target="_blank"><img src="https://nyscyra.net/img/mayubutton.gif"></a>
                <a href="https://mars.nekoweb.org/?button" target="_blank"><img src="https://mars.nekoweb.org/assets/buttons/button1.png" alt="mars' site" width="88" height="31"></a>
                <a href="https://bonyou.nekoweb.org/" title="bonyou" target="_blank"><img src="https://bonyou.nekoweb.org/assets/bonyou_button.png" alt="bonyou.nekoweb.org"></a>
                <a href="https://sank.nekoweb.org" target="_blank" ><img src="https://sank.nekoweb.org/buttons/sankspin.gif" alt="sank's button" title="sank's immerhome!"></a>
                <a href="https://phi.rip"><img src="https://phi.rip/88x31.gif" alt="phi.rip 88x31 button"></a>
                <a href="https://ezri.pet"><img src="https://ezri.pet/assets/img/badges/ezri.png" alt="ezri.pet 88x31 button"></a>
            </div>

            <h3>other</h3>
            <div>
                <a href="https://idolring.nekoweb.org/" target="_blank"><img src="https://idolring.nekoweb.org/buttons/idolring-button.gif"></a>
                <a href="https://seized.fyi/"><img src="/img/badges/seized.gif" alt="seized.fyi 88x31 button"></a>
                <a href="https://readingproject.au/"><img src="/img/badges/readingproject.png" alt="readingproject.au 8x31 button"></a>
                <a href="https://jack-dawlia.neocities.org/page/graphics"><img src="https://jack-dawlia.neocities.org/image/right-to-repair.gif" alt="right to repair 88x31"></a>
                <a href="https://www.defectivebydesign.org"><img src="/img/badges/drm.gif" alt="defective by design 88x31 button"></a>
                <a href="https://www.gutenberg.org/"><img src="/img/badges/gutenberg.gif" alt="gutenberg.org 88x31 button"></a>
                <a href="https://suckless.org"><img src="/img/badges/suckless.png" alt="suckless 88x31 button"></a>
                <a href="https://digdeeper.club/"><img src="/img/badges/digdeeper.png" alt="digdeeper 88x31 button"></a>
                <a href="https://jack-dawlia.neocities.org/page/graphics"><img src="https://jack-dawlia.neocities.org/image/gif/not-obsolete-button-cd.gif"></a>
                <a href="https://archiveofourown.org/"><img src="/img/badges/ao3.gif" alt="ao3 88x31 button"></a>
                <a href="https://u24.gov.ua/"><img src="/img/badges/ukraine.gif" alt="ukraine 88x31 button"></a>
                <a><img src="/img/badges/ceasefirenow.gif" alt="palestine ceasefire now 88x31 button"></a>
                <a href="https://www.genocidewatch.com/country-pages/democratic-republic-of-the-congo"><img src="/img/badges/congo.png" alt="congo 88x31 button"></a>
                <a href="https://www.genocidewatch.com/country-pages/sudan"><img src="/img/badges/sudan.png" alt="sudan 88x31 button"></a>
                <a href="https://jack-dawlia.neocities.org/page/graphics"><img src="https://jack-dawlia.neocities.org/image/nonbinary-hell-yeah-button.gif" alt="enby hell yea 88x31 by jack-dawlia.neocities.org"></a>
            </div>

            <h2>fanlistings</h2>
                <a href="https://fan.misteryosa.com/k-on/"><img src="/img/badges/keion.png"></a>
                <a href="https://fanlistings.melankorin.net/bocchi/"><img src="/img/badges/btr.png"></a>
                <a href="https://fan.elysia.nu/ouran/"><img src="/img/badges/ouran.png"></a>
                <a href="https://fan.enamour.nu/nge"><img src="/img/badges/evangelion.png"></a>
                <a href="https://fan.glast-heim.net/crona/index.php"><img src="/img/badges/crona.png"></a>
                <a href="http://yandere.nu/soul/index.php"><img src="/img/badges/souleater.png"></a>
                <a href="https://fan.enamour.nu/history/"><img src="/img/badges/history.png"></a>
                <a href="http://into-a-dream.com.ar/medieval/" target="_blank"><img src="/img/badges/medieval.png" border="0" /></a>
                <a href="https://shadow-lord.com/lovecraft"><img src="/img/badges/lovecraft.png"></a>
                <a href="https://herotovillain.com/ripper"><img src="/img/badges/theripper.png"></a>
                <a href="https://fans.thislove.nu/dignity/"><img src="https://fans.thislove.nu/dignity/codes/100x50_1.gif"></a>
        </div>
    </div>
    <div class="pure-u-md-1-2">
        <div style="text-align: center; display: block;" class="hero-text container">
            <h2>webrings</h2>
            <p>most of these are pending lmao i just applied for them all =3=</p>

             <map name="w95widget">
            <area href="https://baccyflap.com/noai" target="_blank" shape="rect" coords="0,0,308,22" alt="no ai webring" title="no ai webring">
            <area href="https://baccyflap.com/noai/?prv&s=nug" target="_top" shape="rect" coords="56,36,130,58" alt="previous" title="previous">
            <area href="https://baccyflap.com/noai/?rnd" target="_top" shape="rect" coords="137,36,211,58" alt="random" title="random">
            <area href="https://baccyflap.com/noai/?nxt&s=nug" target="_top" shape="rect" coords="218,36,292,58" alt="next" title="next">
            </map>
            <img usemap="#w95widget" src="https://baccyflap.com/noai/w95widget.gif" alt="a gray Windows 95 style dialog box titled 'The No AI Webring' with a little icon showing a computer chip in a rubbish bin. beside it are three clickable buttons, labeled Previous, Random... and Next"> 
            
            <div style="display: flex; justify-content: center; width: 100%;">
                <div style="
                background-image:
                linear-gradient(to top,#000,#00000000),
                url('/img/yuri.png');
                background-size:cover;
                display:grid;
                height:210px;
                width:260px;
                border-width: 1rem;
                border-radius: 5%;
                color:#fff;
                font-family:'Times New Roman';
                font-size:18px">
                <span style="display:inline-block;align-self:end;justify-self:center;text-align:center">
                    <a style="text-decoration:none;color:#fff" href="https://www.virtuagirl.net/webring.htm#NUG0">⇐</a> <!-- REPLACE "{IDENTIFIER}" WITH /YOUR/ ID-->
                    <a style="text-decoration:none;color:#fff" href="https://www.virtuagirl.net/yuriwebring">YURI WEBRING</a>
                    <a style="text-decoration:none;color:#fff" href="https://www.virtuagirl.net/webring.htm#NUG1">⇒</a> <!-- REPLACE "{IDENTIFIER}" WITH /YOUR/ ID-->
                </span>
                </div>
            </div>

            
            
            <div id="IDOLRING_WIDGET" style="zoom: 100%">
                <link rel="stylesheet" href="https://idolring.nekoweb.org/idolring.css" />
                <script src="https://idolring.nekoweb.org/scripts/black.js"></script>
                <script>
                    document.getElementById("idol_description").innerHTML =
                        "this user stans <b>Ado</b>";
                </script>
                <script>
                    document.getElementById("oshi").style.backgroundImage =
                        "url(/img/ado.jpg)";
                </script>
            </div>

            <!-- CDRING START -->
            <div id='cdr'>
            <script type="text/javascript" src="https://cdring.neocities.org/cdring/onionring-variables.js"></script>
            <script type="text/javascript" src="https://cdring.neocities.org/cdring/onionring-widget.js"></script>
                </div>
            <!-- CDRING END --> 

            <details style="margin-top: 1rem;">
                <summary style="cursor: pointer; font-weight: bold;">
                    pending webrings
                </summary>
                
                <div style="margin-top: 10px; padding: 10px;">

                    <!--resize widget by changing the zoom percentage here-->
                    
                    <div class="bisexual-webring">
                        <a href="https://bisexual-webring.neocities.org?action=previous"><img src="https://bisexual-webring.neocities.org/images/widgets/widget1-left-arrow.png"></a>
                        <a href="https://bisexual-webring.neocities.org"><img src="https://bisexual-webring.neocities.org/images/widgets/bisexual-webring-widget1.png"></a>
                        <a href="https://bisexual-webring.neocities.org?action=next"><img src="https://bisexual-webring.neocities.org/images/widgets/widget1-right-arrow.png"></a>
                    </div>

                    <div id="sapphicring1">
                        <a href="https://sunnishinez.neocities.org/webring/sapphicring"><img
                            src="https://sunnishinez.neocities.org/webring/sapphic/swindex.png" /></a><br />
                        <a href="https://sunnishinez.neocities.org/webring/sapphicring?action=previous"><img
                            src="https://sunnishinez.neocities.org/webring/sapphic/swleft.png" /></a>
                        <a href="https://sunnishinez.neocities.org/webring/sapphicring?action=random">random</a>
                        <a href="https://sunnishinez.neocities.org/webring/sapphicring?action=next"><img
                            src="https://sunnishinez.neocities.org/webring/sapphic/swright.png" /></a>
                    </div>

                    <journal-ring icon="lavender"></journal-ring><script async src="https://cdn.jsdelivr.net/gh/js044/nenrikido@main/static/js/misc/journalring.js"></script> 

                    <script src="https://jbc.lol/webrings/ssgring/pmoring.js"></script>

                    <script defer src="https://the-disorganized-mind-palace.neocities.org/informantring/ring.js"></script>
                    
                    
                    
                    <div id='glassbeach'>
                    <script type="text/javascript" src="https://jugproductions.neocities.org/onionring-variables.js"></script>
                    <script type="text/javascript" src="https://jugproductions.neocities.org/onionring-widget.js"></script>
                    </div>

                    <script defer src="https://softmachine.dev/webring/linuxring/ring.js" data-icon="arch"></script>

                    <div id='focusfirst-webring'>
                        <script type="text/javascript" src="https://www.beepbird.net/webring/onionring-variables.js"></script>
                        <script type="text/javascript" src="https://www.beepbird.net/webring/onionring-widget.js"></script>
                        <noscript><a href='https://www.beepbird.net/index.html'><img src="https://www.beepbird.net/webring/focusfirst.png" alt="Focus First Index"></a></noscript>
                    </div>

                    <!-- CHRONOS WEBRING START -->
                    <div id="chronos">
                    <script src="https://hal.nekoweb.org/chronos/onionring-variables.js"></script>
                    <script src="https://hal.nekoweb.org/chronos/onionring-widget.js"></script>
                    </div>
                    <!-- CHRONOS WEBRING END -->

                    <div id='OtakuRing'>
                        <script type="text/javascript" src="https://bishoujopalace.neocities.org/WebRing/onionring/onionring-variables.js"></script>
                        <script type="text/javascript" src="https://bishoujopalace.neocities.org/WebRing/onionring/onionring-widget.js"></script>
                        <script>document.getElementById('Icon').src="HERE"</script>
                    </div> 
                </div>
            </details>
                    


        </div>
    </div>

    
</div>
{% endblock %}