<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/pure-min.css">
    <link rel="stylesheet" href="/css/grids-responsive-min.css">
    <link rel="stylesheet" href="https://cdring.neocities.org/cdring/onionring.css">
    <link rel="stylesheet" href="https://hal.nekoweb.org/chronos/widget.css">
    <link rel="icon" type="image/png" href="/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feed.xml">

    <title>{{ title or "harakiri" }}</title>
    <meta name="description" content="{{ description or 'home of a lazy high schooler' }}">
    <meta name="author" content="jz">

    <meta property="og:type" content="{{ og_type or 'website' }}">
    <meta property="og:title" content="{{ title or 'harakiri' }}">
    <meta property="og:description" content="{{ og_description or description or 'read it idk' }}">
    <meta property="og:url" content="https://harakiri.moe{{ page.url }}">
    <meta property="og:image" content="{{ og_image or 'https://harakiri.moe/img/apple-touch-icon.png' }}">

    {% block head %}{% endblock %}
</head>

<nav>
    <a href="/">home</a>
    <a href="/blog/">blog</a>
    <a href="/about/">about</a>
    <a href="/links/">links</a>
</nav>

<body>
    {% block content %}
        {{ content | safe }}
    {% endblock %}
</body>

<footer>
    <p>
        built: {% raw %}{{BUILD_TIME}}{% endraw %} · <a href="https://nekoweb.org/follow/harakiri.moe">follow on nekoweb</a> · <a href="https://shironeko.atabook.org">guestbook</a>
    </p>
    <div class="badges">
        <a href="https://harakiri.moe"><img src="/img/button.png" alt="my button! feel free to add!"></a>
        <a href="https://brainmade.org/"><img src="/img/badges/brainmade.png" alt="brainmade.org 88x31 button"></a>
        <a href="https://u24.gov.ua/"><img src="/img/badges/ukraine.gif"></a>
        <a href="https://anybrowser.org/campaign/"><img src="/img/badges/any-browser.gif" alt="best viewed with your eyes" style="height: 31px; width: 88px;"></a>
        <a href="https://dannarchy.com/tut/tut_001"><img src="/img/badges/debtdeath-mobilefriendly.png" alt="mobile-friendly 88x31 made by debtdeath.neocities.org"></a>
        <a href="https://atabook.org"><img src="/img/badges/atabook.gif" alt="atabook 88x31 button"></a>
        <a href="https://vscodium.com"><img src="/img/badges/vscodium.png" alt="vscodium 88x31 button"></a>
        <a href="https://11ty.dev"><img src='/img/badges/eleventy.gif' alt="eleventy 88x31 button"></a>
        <a href="https://nekoweb.org/"><img src="https://nekoweb.org/assets/buttons/button8.gif"></a>
    </div>
</footer>
</html>