---
layout: base.njk
og_title: blog post
og_description: read it idk
---

{% block head %}
    <link rel="stylesheet" href="/css/blogstyle.css">
{% endblock %}

{% block content %}
<div class="main">
    <div class="pure-g hero">
        <div class="blog-content">
            <div style="text-align:center;">
                <h2 class="post-title">{{ title }}</h2>
                {% if date %}
                <div class="post-metadata">
                    <span class="post-date">{{ date | readableDate }}</span>
                    <span class="post-reading-time">• {{ content | readingTime }}</span>
                </div>
                {% endif %}
            </div>
            
            <article class="post-body">
                {{ content | safe }}
            </article>
            <div style="display: block; height: auto;">
                <div id="cusdis_thread"
                    data-theme="dark"
                    data-host="https://cusdis.com"
                    data-app-id="4247a37f-7606-4069-9f30-35684dfcd08a"
                    data-page-id="{{ page.fileSlug }}"
                    data-page-url="https://harakiri.moe{{ page.url }}"
                    data-page-title="{{ title }}">
                ></div>
            </div>
                
            <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
        </div>
    </div>
</div>
{% endblock %}